<html>
    <header> 
        <title>
            1385 Plague
        </title>
    </header>
    <body>
    <h1>Will you survive?</h1>
    <p> A plague has befallen your village, and unfortuantely, you have contracted it!</p>
    <p> The longer you have the plague, the slimmer your chances of survival become...</p>
    <p> You had it for {{ days }} </p> 
    <p> Your fortune has turned out to be... {{ fortune }}!</p>
    <p> And your fate was as follows...{{ outcome }} </p>
    </a>
</body>
</html>