<html>
    <header> 
        <title>
            1385 Plague
        </title>
    </header>
    <body>
    <h1>Plague village</h1>
    <p> A plague has befallen your village, and unfortuantely, you have contracted it!</p>
    <p> The longer you have the plague, the slimmer your chances of survival become...</p>
    <p> You had it for {{ days }} days </p> 
    <p> Your fortune has turned out to be... {{ fortune }}!</p>
    <p> And your fate was as follows...{{ outcome }} </p>
    <h2> Sad tales of other plague victims...</h2>
    <p> {% for fate in lastfivefates %}
        They had it for {{ fate.days }} days
        <br>
        Their fortune was {{ fate.fortunes }}
        <br>
        And they ended up as follows...
        {{ fate.outcomes }}
        <br>
        And the one before that...
        <br>
        <br>
        {% endfor %}
    </p>
    </a>
</body>
</html>
